

# draw.io
**/*.bkp

.cache-main
.cache-tests
.settings/
bin/

# macOS
.DS_Store

# sbt specific
dist/*
target/
lib_managed/
src_managed/

# Ignore the contents of the 'project/' directory, not the directory itself.
project/*

# Ignore specific files and subdirectories inside 'project/'.
# This now works because Git is still scanning the directory.
!project/*.scala
project/boot/
project/plugins/project/
project/local-plugins.sbt


.history
.ensime
.ensime_cache/
.sbt-scripted/
local.sbt

*.class
*.log

.cache
.lib/
target/
**/.bloop
.bsp/

# VS Code
.vscode/

# Metals
.metals/
.ammonite/
metals.sbt
metals/project/
.scalafmt.conf

# IDEA
.idea
.idea_modules
/.worksheet/

