# draw.io
**/*.bkp

.cache-main
.cache-tests
.settings/
bin/

# macOS
.DS_Store

# sbt specific
dist/*
target/
lib_managed/
src_managed/
.sbt-scripted/
local.sbt
.history
.ensime
.ensime_cache/


.cache
.lib/
target/
**/.bloop
.bsp/

# compiled class files
*.class
# log files
*.log


# Ignore the contents of the 'project/' directory, not the directory itself.
project/*
# Ignore specific files and subdirectories inside 'project/'.
# This now works because Git is still scanning the directory.
!project/*.scala
!project/plugins.sbt

project/boot/
project/plugins/project/
project/local-plugins.sbt


# VS Code
.vscode/

# Metals
.metals/
.ammonite/
metals.sbt
metals/project/
.scalafmt.conf

# IDEA
.idea
.idea_modules
/.worksheet/

